#contact{
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    justify-content: center;
}

.contact-container{
    display: flex;
    flex-direction: column;
    margin: 0 0 5% 0;
    align-items: center;
    justify-content: center;
}

.mail{
    display: flex;
    font-size: 3.5rem;
    font-weight: bolder;
    color: black;
    margin: 12%;

}

.mail:hover{
    color: #008a83;
}